$primary-font: 'Fira Sans', sans-serif;
$large-font-size: 1.45em;
$normal-font-size: 1.15em;
$small-font-size: 0.85em;
$tiny-font-size: 0.65em;
$text-color: #444;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  font-family: $primary-font;
  font-weight: 400;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::selection {
    background: #ccc;
  }
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  text-align: center;

  > .main {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1000px;
    font-size: $normal-font-size;

    > .period {
      margin-bottom: 2rem;
    }

    > .prose-container {
      text-align: left;
      > .prose {
        > em {
          text-emphasis: none;
          font-weight: 600;
          text-decoration: underline;
          font-style: normal;
        }
      }

      > table.confusion-matrix {
        border-collapse: collapse;
        margin: 0 auto;

        td {
          border: 1px solid #ccc;
          padding: 0.6rem 1rem;
        }
        tr:nth-of-type(3) > td:first-of-type {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }
        tr:first-of-type > td:nth-of-type(3),
        tr:nth-of-type(3) > td:first-of-type, {
          text-align: center;
        }

        tr:first-of-type > td:first-of-type,
        tr:first-of-type > td:nth-of-type(2),
        tr:nth-of-type(2) > td:first-of-type, {
          border: none;
        }
        
      }
    }

    > .accuracy-chart {
      margin-top: 1rem;
      height: 50vh;
    }

    > .regions-chart {
      margin-top: 1rem;
      height: 200vh;
    }

    > .description {
      margin-top: 2rem;
      text-align: left;
      font-size: $small-font-size;
    }

    > footer {
      padding-top: 3rem;
      padding-bottom: 2rem;
      font-size: $tiny-font-size;
    }

    a {
        color: $text-color;
        text-decoration: underline dotted;

        &:hover, &:active {
          background-color: #fff2ac;
        }
      }
  }
}
